// ======================================
//  Placeholders
// ======================================

// Links
%no-dec {
    text-decoration: none;
  }
  
  // Images
  %cntr-slf {
    align-self: center;
  }
  
  // Headlines
  %thin-fnt {
    font-family: $heading-stack;
  }
  
  // Nav Items
  // %no-dec (in the Links section above)
  // is also extended to nav items
  