$white: #fff;
$grey: #ccc;
$dark-grey: #777;
$lato-font-stack: 'Lato', sans-serif;
$brkpoint-m: 768px;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;